server:
  port: 8086
  servlet:
    context-path: /wyfblog
  sa-token:
    token-name: satoken
    timeout: 2592000
    active-timeout: -1
    is-concurrent: true
    is-share: true
    token-style: simple-uuid
    is-log: true

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/wyfblog?allowPublicKeyRetrieval=true&characterEncoding=utf-8&rewriteBatchedStatements=true&serverTimezone=Asia/Shanghai
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
