<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.park.mapper.CommentsMapper">

	<resultMap type="com.soft.park.entity.Comments" id="CommentsMap">
		<result property="id" column="id" jdbcType="INTEGER"/>
		<result property="blogId" column="blog_id" jdbcType="INTEGER"/>
		<result property="userId" column="user_id" jdbcType="INTEGER"/>
		<result property="content" column="content" jdbcType="VARCHAR"/>
		<result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
		<result property="creator" column="creator" jdbcType="VARCHAR"/>
		<result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
		<result property="updator" column="updator" jdbcType="VARCHAR"/>
		<result property="parentId" column="parent_id" jdbcType="INTEGER"/>
	</resultMap>

	<!--查询单个-->
	<select id="queryById" resultMap="CommentsMap">
		select id,
		       blog_id,
		       user_id,
		       content,
		       create_time,
		       creator,
		       update_time,
		       updator,
		       parent_id
		from comments
		where id = #{id}
	</select>

	<!--查询指定行数据-->
	<select id="queryAllByLimit" resultMap="CommentsMap">
		select
		id, blog_id, user_id, content, create_time, creator, update_time, updator, parent_id
		from comments
		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="blogId != null">
				and blog_id = #{blogId}
			</if>
			<if test="userId != null">
				and user_id = #{userId}
			</if>
			<if test="content != null and content != ''">
				and content = #{content}
			</if>
			<if test="createTime != null">
				and create_time = #{createTime}
			</if>
			<if test="creator != null and creator != ''">
				and creator = #{creator}
			</if>
			<if test="updateTime != null">
				and update_time = #{updateTime}
			</if>
			<if test="updator != null and updator != ''">
				and updator = #{updator}
			</if>
			<if test="parentId != null">
				and parent_id = #{parentId}
			</if>
		</where>
		limit #{pageable.offset}, #{pageable.pageSize}
	</select>

	<!--统计总行数-->
	<select id="count" resultType="java.lang.Long">
		select count(1)
		from comments
		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="blogId != null">
				and blog_id = #{blogId}
			</if>
			<if test="userId != null">
				and user_id = #{userId}
			</if>
			<if test="content != null and content != ''">
				and content = #{content}
			</if>
			<if test="createTime != null">
				and create_time = #{createTime}
			</if>
			<if test="creator != null and creator != ''">
				and creator = #{creator}
			</if>
			<if test="updateTime != null">
				and update_time = #{updateTime}
			</if>
			<if test="updator != null and updator != ''">
				and updator = #{updator}
			</if>
			<if test="parentId != null">
				and parent_id = #{parentId}
			</if>
		</where>
	</select>

	<!--新增所有列-->
	<insert id="insert" keyProperty="id" useGeneratedKeys="true">
		insert into comments(blog_id, user_id, content, create_time, creator, update_time, updator, parent_id)
		values (#{blogId}, #{userId}, #{content}, #{createTime}, #{creator}, #{updateTime}, #{updator}, #{parentId})
	</insert>

	<insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
		insert into comments(blog_id, user_id, content, create_time, creator, update_time, updator, parent_id)
		values
		<foreach collection="entities" item="entity" separator=",">
			(#{entity.blogId}, #{entity.userId}, #{entity.content}, #{entity.createTime}, #{entity.creator},
			#{entity.updateTime}, #{entity.updator}, #{entity.parentId})
		</foreach>
	</insert>

	<insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
		insert into comments(blog_id, user_id, content, create_time, creator, update_time, updator, parent_id)
		values
		<foreach collection="entities" item="entity" separator=",">
			(#{entity.blogId}, #{entity.userId}, #{entity.content}, #{entity.createTime}, #{entity.creator},
			#{entity.updateTime}, #{entity.updator}, #{entity.parentId})
		</foreach>
		on duplicate key update
		blog_id = values(blog_id),
		user_id = values(user_id),
		content = values(content),
		create_time = values(create_time),
		creator = values(creator),
		update_time = values(update_time),
		updator = values(updator),
		parent_id = values(parent_id)
	</insert>

	<!--通过主键修改数据-->
	<update id="update">
		update comments
		<set>
			<if test="blogId != null">
				blog_id = #{blogId},
			</if>
			<if test="userId != null">
				user_id = #{userId},
			</if>
			<if test="content != null and content != ''">
				content = #{content},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="creator != null and creator != ''">
				creator = #{creator},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="updator != null and updator != ''">
				updator = #{updator},
			</if>
			<if test="parentId != null">
				parent_id = #{parentId},
			</if>
		</set>
		where id = #{id}
	</update>

	<!--通过主键删除-->
	<delete id="deleteById">
		delete
		from comments
		where id = #{id}
	</delete>

</mapper>

