<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.park.mapper.FieldPermissionsMapper">

	<resultMap type="com.soft.park.entity.FieldPermissions" id="FieldPermissionsMap">
		<result property="id" column="id" jdbcType="INTEGER"/>
		<result property="fieldPermissionName" column="field_permission_name" jdbcType="VARCHAR"/>
		<result property="description" column="description" jdbcType="VARCHAR"/>
		<result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
		<result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
		<result property="createdBy" column="created_by" jdbcType="INTEGER"/>
		<result property="updatedBy" column="updated_by" jdbcType="INTEGER"/>
		<result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
		<result property="status" column="status" jdbcType="INTEGER"/>
	</resultMap>

	<!--查询单个-->
	<select id="queryById" resultMap="FieldPermissionsMap">
		select id,
		       field_permission_name,
		       description,
		       created_at,
		       updated_at,
		       created_by,
		       updated_by,
		       is_deleted,
		       status
		from field_permissions
		where id = #{id}
	</select>

	<!--查询指定行数据-->
	<select id="queryAllByLimit" resultMap="FieldPermissionsMap">
		select
		id, field_permission_name, description, created_at, updated_at, created_by, updated_by, is_deleted, status
		from field_permissions
		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="fieldPermissionName != null and fieldPermissionName != ''">
				and field_permission_name = #{fieldPermissionName}
			</if>
			<if test="description != null and description != ''">
				and description = #{description}
			</if>
			<if test="createdAt != null">
				and created_at = #{createdAt}
			</if>
			<if test="updatedAt != null">
				and updated_at = #{updatedAt}
			</if>
			<if test="createdBy != null">
				and created_by = #{createdBy}
			</if>
			<if test="updatedBy != null">
				and updated_by = #{updatedBy}
			</if>
			<if test="isDeleted != null">
				and is_deleted = #{isDeleted}
			</if>
			<if test="status != null">
				and status = #{status}
			</if>
		</where>
		limit #{pageable.offset}, #{pageable.pageSize}
	</select>

	<!--统计总行数-->
	<select id="count" resultType="java.lang.Long">
		select count(1)
		from field_permissions
		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="fieldPermissionName != null and fieldPermissionName != ''">
				and field_permission_name = #{fieldPermissionName}
			</if>
			<if test="description != null and description != ''">
				and description = #{description}
			</if>
			<if test="createdAt != null">
				and created_at = #{createdAt}
			</if>
			<if test="updatedAt != null">
				and updated_at = #{updatedAt}
			</if>
			<if test="createdBy != null">
				and created_by = #{createdBy}
			</if>
			<if test="updatedBy != null">
				and updated_by = #{updatedBy}
			</if>
			<if test="isDeleted != null">
				and is_deleted = #{isDeleted}
			</if>
			<if test="status != null">
				and status = #{status}
			</if>
		</where>
	</select>

	<!--新增所有列-->
	<insert id="insert" keyProperty="id" useGeneratedKeys="true">
		insert into field_permissions(field_permission_name, description, created_at, updated_at, created_by,
		                              updated_by, is_deleted, status)
		values (#{fieldPermissionName}, #{description}, #{createdAt}, #{updatedAt}, #{createdBy}, #{updatedBy},
		        #{isDeleted}, #{status})
	</insert>

	<insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
		insert into field_permissions(field_permission_name, description, created_at, updated_at, created_by,
		updated_by, is_deleted, status)
		values
		<foreach collection="entities" item="entity" separator=",">
			(#{entity.fieldPermissionName}, #{entity.description}, #{entity.createdAt}, #{entity.updatedAt},
			#{entity.createdBy}, #{entity.updatedBy}, #{entity.isDeleted}, #{entity.status})
		</foreach>
	</insert>

	<insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
		insert into field_permissions(field_permission_name, description, created_at, updated_at, created_by,
		updated_by, is_deleted, status)
		values
		<foreach collection="entities" item="entity" separator=",">
			(#{entity.fieldPermissionName}, #{entity.description}, #{entity.createdAt}, #{entity.updatedAt},
			#{entity.createdBy}, #{entity.updatedBy}, #{entity.isDeleted}, #{entity.status})
		</foreach>
		on duplicate key update
		field_permission_name = values(field_permission_name),
		description = values(description),
		created_at = values(created_at),
		updated_at = values(updated_at),
		created_by = values(created_by),
		updated_by = values(updated_by),
		is_deleted = values(is_deleted),
		status = values(status)
	</insert>

	<!--通过主键修改数据-->
	<update id="update">
		update field_permissions
		<set>
			<if test="fieldPermissionName != null and fieldPermissionName != ''">
				field_permission_name = #{fieldPermissionName},
			</if>
			<if test="description != null and description != ''">
				description = #{description},
			</if>
			<if test="createdAt != null">
				created_at = #{createdAt},
			</if>
			<if test="updatedAt != null">
				updated_at = #{updatedAt},
			</if>
			<if test="createdBy != null">
				created_by = #{createdBy},
			</if>
			<if test="updatedBy != null">
				updated_by = #{updatedBy},
			</if>
			<if test="isDeleted != null">
				is_deleted = #{isDeleted},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
		</set>
		where id = #{id}
	</update>

	<!--通过主键删除-->
	<delete id="deleteById">
		delete
		from field_permissions
		where id = #{id}
	</delete>

</mapper>

